<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define Spring properties -->
    <springProperty scope="context" name="FAIL_ON_EMPTY_BEANS"
                    source="spring.jackson.serialization.FAIL_ON_EMPTY_BEANS"/>

    <!-- Disable initial status messages -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- Appender for console logging -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Console log layout pattern -->
            <pattern>%d{ISO8601} %highlight(%-5level) [%blue(%t)] %yellow(%logger %mdc{environment} %mdc{Span-ID}): %msg%n%throwable</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Root logger definition -->
    <root level="INFO">
        <!-- Add console appender -->
        <appender-ref ref="Console"/>
    </root>

</configuration>
